<p>
  <h2><strong>Title:</strong></h2>
  <%= @article.title %>
</p>
<p>
  <h2><strong>Content:</strong></h2>
  <%= @article.content %>
</p>

<% if @article.comments.any? %>
    <h3>Comments</h3>
    <% @article.comments.each do |comment| %>
      <% unless comment.email.blank? %>
          <p>
          <strong>Commenters email:</strong>
          <%= comment.email %>
        </p>
      <% end %>
      <p>
        <strong>Comment:</strong>
        <%= comment.text %>
      </p>
      <br>
  <% end %>
<% end %>

<h3>Comment on article:</h3>
<%= form_with(model: [ @article, @comment ], local: true) do |form| %>
    <% if @comment.errors.any? %>
        <div id='error_explanation'>
          <h2>
            <%= pluralize(@comment.errors.count, 'error') %>
          </h2>
          <p>Please address these issues:</p>
          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= form.label :Email %><br>
      <%= form.text_field :email, placeholder: 'Email (optional)' %>
    </p>
    <p>
      <%= form.label :Comment %><br>
      <%= form.text_area :text, placeholder: 'Comment' %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>

<p>
<%= link_to 'All Articles', articles_path %>
</p>
<%= link_to 'New Article', new_article_path %>
<p>
<%= link_to 'Edit', edit_article_path(@article) %>
</p>