Article was successfully created.

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<% if @article.comments.any? %>
    <h2>Comments</h2>
    <% @article.comments.each do |comment| %>
      <% unless comment.commenter.blank? %>
          <p>
          <strong>Commenter:</strong>
          <%= comment.commenter %>
        </p>
      <% end %>
      <p>
        <strong>Comment:</strong>
        <%= comment.body %>
      </p>
      <br>
  <% end %>
<% end %>
<h3>Comment on article:</h3>
<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
    <p>
      <%= form.label :Email %><br>
      <%= form.text_field :commenter, placeholder: 'Email (optional)' %>
    </p>
    <p>
      <%= form.label :Comment %><br>
      <%= form.text_area :body, placeholder: 'Comment' %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>
<p>
<%= link_to 'All Articles', articles_path %>
</p>
<%= link_to 'New Article', new_article_path %>
<p>
<%= link_to 'Edit', edit_article_path %>
</p>